/* totul e nou */ 
#mapTitle {
    position: relative;
    left: 50%;
	transform: translateX(-50%);
    background: rgb(49, 105, 78);
	color: rgb(240, 228, 145);
	padding: 0.3em 0.5em;
    font-size: clamp(8px, 3vw, 15px); /* shrink on small screens */
    font-weight: bold;
    font-family: Georgia, serif;
	text-align: center;
    z-index: 1000;
	pointer-events: none; /* prevents interfering with map clicks */
}
#mapSubtitle {
    font-size: clamp(6px, 1.5vw, 12px);
    font-weight: normal;
	text-align: center;
    margin-top: 0.3em;
    font-family: Georgia, serif;
    color: rgb(187, 200, 99);
	pointer-events: none; /* prevents interfering with map clicks */
}
#activeLayerLabel {
    position: absolute;
    bottom: 0px;
    left: 50%;
	transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 8px 12px;
    border-radius: 8px;
    font-size: 14px;
	font-weight: bold;
    font-family: Verdana, sans-serif;
    z-index: 1000;
    pointer-events: none; /* prevents interfering with map clicks */
    display: none; /* hidden by default */
}
#logoContainer1 {
    position: absolute;
    bottom: 0px;
    right: 5px;
    display: flex;
    align-items: center;
    gap: 0px; /* space between images */
    z-index: 1001;
}

#logoContainer2 {
    position: absolute;
    bottom: 0px;
    left: 0px;
    display: flex;
    align-items: center;
    gap: 0px; /* space between images */
    z-index: 1001;
}



#logoContainer1 img {
    height: clamp(35px, 9vw, 120px); /* min 25px, typical 4% of viewport width, max 45px */
    width: auto;
    border-radius: 0px; /* optional, gives soft corners */
	/* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);*/
    /*background: white;  optional: white background under logo */
    padding: 0xp;
}

#logoContainer2 img {
    height: clamp(35px, 10vw, 120px); /* min 25px, typical 4% of viewport width, max 45px */
    width: auto;
    border-radius: 0px; /* optional, gives soft corners */
    /*box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);*/
    /*background: white;  optional: white background under logo */
    padding: 0px;

}
